.affix {
    top: 60px; /* Position where the element is fixed */
}

.header-fixed {
    padding-top: 60px;
}

h1.superlarge{
    font-size: 64px;
    font-weight: 100;
}

p.sub{
    font-size: 36px;
    line-height: 39px;
    font-weight: 200;
}

a{
    color:#009688;
}
a:hover, a:focus {
    color: #00796B;
}

footer a, #mainContent a {
    text-decoration: underline;
}

#mainContent a.btn {
    text-decoration: none;
}

#mainContent h2, #mainContent h4.sub {
    padding-top:60px;
    margin-top: 0;
}

h4.sub {
    font-size: 20px;
}

.btn-group-lg>.btn, .btn-lg {
    border-radius: 3px;
}

.btn-success{
    background-color: #009688;
    border-color: #26A69A;
}

.btn-success:hover{
    background-color: #00796B;
}


.simpleList {
    margin: 12px 0;
}
.simpleList li{
    margin-bottom: 12px;
}

body {
    padding-top:50px;
}

.navbar-bright {
    background-color:#226622;
    color:#fff;
}

.navbar-bright a, #masthead a, #masthead .lead {
    color:#aaccaa;
}

.navbar-bright li > a:hover {
    background-color:#003300;
}


/*CARD*/

.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}
.card-img-top {
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
    width:100%;
}

.card-block {
    padding: 1.25rem;
}
.card-title {
    margin-bottom: .75rem;
}
.alsFavoritMarkieren{
    height: 30px;
    width: 30px;
    position: relative;
    top: 20px;
    right: -23vw;
    border-radius: 20px;
    border: 1px solid $border-color;
    background-color: white;
    font-size: 24px;
    text-align: center;
}
.alsFavoritMarkieren .icon{
    position:relative;
    top: -2px;
}

/*CARD*/

.cardfooter{
    padding:10px;
}


@media (min-width: 979px) {
  #mynav.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }

  #mynav.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}


.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}


#mynav li.active a {background-color:red;}

.navbar-brand{
    padding-top: 10px
}
.brandnav {
    margin: 0 40px 0 0 ;
    font-weight: 200;
}

.group {
    background: yellow;
    width: 200px;
    height: 500px;
}
.group .subgroup {
    background: orange;
    width: 150px;
    height: 200px;
}
.fixed {
    position: fixed;
}

/* sidebar */
.ps-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.oneliner {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nopadding{
    padding: 0;
}

.nomargin{
    margin: 0;
}

.noborder{
    border: none;
}


.btn-pile .btn{
    margin: 0 5px 8px 0;
}

table.table.table-plain tr th:first-child,
table.table.table-plain tr td:first-child{
    padding-left: 0;
}

#dowloadButton {
    position: fixed;
    right: 0.2vw;
    top: 2px;
    z-index: 9999;
}
@media (max-width: 979px) {
    #dowloadButton {
        display: none;
    }
}

/* all links */
.ps-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.ps-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.nav.nav-stacked > .active > a, .nav.nav-stacked > .active:hover > a, .nav.nav-stacked > .active:focus > a, .nav.nav-stacked .nav > .active > a, .nav.nav-stacked .nav > .active:hover > a, .nav.nav-stacked .nav > .active:focus > a,
.ps-docs-sidebar .nav>.active>a,
.ps-docs-sidebar .nav>li>a:hover,
.ps-docs-sidebar .nav>li>a:focus {
    color: #009688;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #009688;
}
/* all active links */
.ps-docs-sidebar .nav>.active>a,
.ps-docs-sidebar .nav>.active:hover>a,
.ps-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.ps-docs-sidebar .nav .nav>.active>a,
.ps-docs-sidebar .nav .nav>.active:hover>a,
.ps-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.ps-docs-sidebar .nav ul.nav {
    display: none;
}
/* show active nested list */
.ps-docs-sidebar .nav>.active>ul.nav {
    display: block;
}




/*

            Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

            */
            pre {
                background-color: #23241f;
                color: #fff;
                font-size: 16px;
            }
            .hljs {
              display: block;
              overflow-x: auto;
              padding: 0.5em;
              background: #23241f;
            }

            .hljs,
            .hljs-tag,
            .hljs-subst {
              color: #f8f8f2;
            }

            .hljs-strong,
            .hljs-emphasis {
              color: #a8a8a2;
            }

            .hljs-bullet,
            .hljs-quote,
            .hljs-number,
            .hljs-regexp,
            .hljs-literal,
            .hljs-link {
              color: #ae81ff;
            }

            .hljs-code,
            .hljs-title,
            .hljs-section,
            .hljs-selector-class {
              color: #a6e22e;
            }

            .hljs-strong {
              font-weight: bold;
            }

            .hljs-emphasis {
              font-style: italic;
            }

            .hljs-keyword,
            .hljs-selector-tag,
            .hljs-name,
            .hljs-attr {
              color: #f92672;
            }

            .hljs-symbol,
            .hljs-attribute {
              color: #66d9ef;
            }

            .hljs-params,
            .hljs-class .hljs-title {
              color: #f8f8f2;
            }

            .hljs-string,
            .hljs-type,
            .hljs-built_in,
            .hljs-builtin-name,
            .hljs-selector-id,
            .hljs-selector-attr,
            .hljs-selector-pseudo,
            .hljs-addition,
            .hljs-variable,
            .hljs-template-variable {
              color: #e6db74;
            }

            .hljs-comment,
            .hljs-deletion {
              color: #75715e;
            }
            .hljs-meta {
              color: #fff;
            }



.nopadding{
    padding-top: 10px !important;
}

.whyimg{
    height: 140px;
    padding-top: 30px;
}

.background-green{
    background-color: #CCEAE7;
    padding:40px;
    border-bottom: 1px solid #ccc;
}

pre code pre {
    border: none;
    margin: 0;
    padding: 0
}

.overlayicon{
    color:#fff;
    padding:18px 16px 16px 24px;
    position: absolute;
    top: 83px;
    left: 140px;
    width: 68px;
    height: 68px;
    z-index: 10;
    background-color: rgba(0,150,136,0.8);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}
